/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,500;0,600;1,800&family=Montserrat:wght@400;500&display=swap"); /*
=============== 
Variables
===============
*/
:root {
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --fixed-width: 620px;
  --ff-primary: "Barlow Condensed", sans-serif;
  --mont: "Montserrat", sans-serif;
}

/*
=============== 
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  scroll-behavior: smooth;
  font-weight: 600;
  background: #000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img:not(.nav-logo) {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* img {
  width: 100%;
  display: block;
} */
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
h2,
h3,
h4 {
    line-height: 1;
  }
}
/*  global classes */
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-5);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  /* font-weight: 700; */
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  font-family: var(--ff-primary);
}

.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-8);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-title {
  text-align: center;
  margin-bottom: 4rem;
}

.section-title h2 {
  text-transform: uppercase;
}

span {
  color: #ffbc00;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
header {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-position: left;
  background-size: cover;
  background-color: black;
  position: relative;
}
header .homebg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
header .pcbg {
  height: 0;
}

/*
=============== 
Navbar
===============
*/
nav {
  min-height: 10vh;
  width: 100%;
  position: fixed;
  transition: var(--transition);
  top: 0;
  z-index: 100;
}
nav .nav-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  /* nav toggle functionality */
}
nav .nav-center .nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
nav .nav-center .nav-header .nav-logo {
  max-height: 3rem;
}
nav .nav-center .nav-header .nav-toggle {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  transition: var(--transition);
}
nav .nav-center .nav-header .nav-toggle .close-nav {
  display: none;
}
nav .nav-center .nav-header .nav-toggle:hover {
  transform: scale(1.2);
}
nav .nav-center .nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
  background-color: rgba(0, 0, 0, 0.767);
}
nav .nav-center .nav-links .buybtn {
  display: none;
}
nav .nav-center .nav-links .nav-link {
  display: block;
  padding: 1rem 2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
  color: var(--clr-white);
  font-family: var(--mont);
  font-weight: 400;
  cursor: pointer;
  font-size: 1rem;
}
nav .nav-center .nav-links .nav-link:hover {
  background: var(--clr-grey-3);
}

.show-links {
  height: 224px !important;
}

/* nav at bigger screen size */
@media screen and (min-width: 992px) {
  /* hide nav toggle button */
  header .pcbg {
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  header .mobilebg {
    display: none;
  }
  nav .nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* optional */
    flex-wrap: wrap;
    /* show links */
  }
  nav .nav-center .nav-header {
    padding: 0 0;
  }
  nav .nav-center .nav-header .nav-toggle {
    display: none;
  }
  nav .nav-center .nav-links {
    height: auto;
    display: flex;
  }
  nav .nav-center .nav-links .buybtn {
    display: block;
  }
}
/*
/*
=============== 
end Navbar
===============
*/
/*Home Pgae starts here
===================
*/
.home {
  min-height: 80vh;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 10vh;
}
.home .inner-home {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  place-items: center;
  z-index: 3;
}
.home .inner-home .hometxt {
  text-align: center;
  color: var(--clr-white);
  max-width: 24rem;
  display: grid;
  place-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.home .inner-home .hometxt h2 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
.home .inner-home .hometxt p {
  text-transform: uppercase;
}
.home .inner-home .hometxt .home-btn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.home .inner-home .hometxt .home-btn button {
  font-size: var(--ff-primary);
  color: var(--clr-white);
  border-radius: 7px;
  transform: skew(-13deg, 0deg);
}
.home .inner-home .hometxt .home-btn button a {
  color: inherit;
}
.home .inner-home .hometxt .home-btn button:nth-child(1) {
  background-color: #00ac8d;
}
.home .inner-home .hometxt .home-btn button:nth-child(2) {
  border: 2px solid #ffbc00;
}
.home .inner-home .home-img {
  margin-top: 2rem;
  max-width: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .home-banner {
  color: var(--clr-white);
  padding: 2rem;
  margin-bottom: 4rem;
}
.home .home-banner h3 {
  display: none;
}
.home .home-banner .banner-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  max-width: 30rem;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .home .inner-home .hometxt h2 {
    max-width: 28rem;
    margin: 0 auto;
  }
}
@media (min-width: 800px) {
  .home .inner-home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }
  .home .inner-home .hometxt {
    justify-self: start;
    text-align: left;
  }
  .home .inner-home .hometxt h2 {
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: normal;
  }
  .home .inner-home .hometxt p {
    text-align: center;
    max-width: 15rem;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .home .inner-home .hometxt .home-btn button {
    font-family: var(--mont);
    font-weight: 500;
  }
  .home .inner-home .hometxt .home-btn button:nth-child(1) {
    background-color: #ffbc00;
  }
  .home .inner-home .home-img {
    justify-self: end;
  }
  .home .home-banner {
    width: 90%;
    z-index: 3;
    max-height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 0;
  }
  .home .home-banner h3 {
    display: block;
  }
  .home .home-banner .banner-img {
    max-width: 90%;
  }
  .home .home-banner .banner-img img {
    max-width: 8rem;
  }
}
.play {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}
.play .inner-play {
  width: 90%;
  z-index: 3;
}
.play .inner-play .play-vid {
  display: grid;
  place-items: center;
}
.play .inner-play .play-vid video {
  border: 3px solid #000;
  border-radius: var(--radius);
  position: relative;
}
.play .inner-play .play-vid h3 {
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-white);
}
.play .inner-play .video-txt {
  text-align: center;
  margin-top: 2rem;
}
.play .inner-play .video-txt h2 {
  text-align: center;
  font-style: italic;
  text-transform: uppercase;
  color: var(--clr-white);
}
.play .inner-play .video-txt p {
  text-align: left;
  font-family: var(--mont);
  font-weight: bold;
  max-width: 25rem;
}
.play .inner-play .video-txt p span {
  color: #000;
  display: block;
}
.play .inner-play .video-txt button {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background-color: #000;
  color: var(--clr-white);
  transform: skew(-15deg, 0deg);
  border-radius: var(--radius);
}
.play .inner-play .video-txt button a {
  color: inherit;
}
.play .playbg {
  background-color: #000;
  position: absolute;
  inset: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
}
.play .bgpc {
  display: none;
}

@media (min-width: 600px) {
  .play .about-img .bgmonile {
    display: none;
  }
  .play .about-img .bgpc {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .play .inner-play {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .play .inner-play .play-vid h3 {
    display: none;
  }
  .play .inner-play .video-txt {
    text-align: left;
  }
  .play .inner-play .video-txt h2 {
    text-align: left;
  }
  .play .inner-play .video-txt p span {
    display: block;
    color: #000;
    margin-top: 1rem;
  }
}
.watch {
  width: 100%;
  background-color: #000;
  display: grid;
  place-items: center;
  position: relative;
}
.watch .watch-bg {
  display: none;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.watch .inner-watch {
  width: 90%;
  color: var(--clr-white);
  z-index: 3;
}
.watch .inner-watch h2 {
  font-family: var(--ff-primary);
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffbc00;
  text-align: left;
}
.watch .inner-watch p {
  text-transform: capitalize;
  max-width: 20rem;
  font-family: var(--mont);
  font-weight: 400;
}
.watch .inner-watch button {
  background-color: transparent;
  border: 2px solid #ffbc00;
  color: var(--clr-white);
  border-radius: var(--radius);
  color: var(--clr-white);
  transform: skew(-15deg, 0deg);
  margin-bottom: 2rem;
}
.watch .inner-watch button a {
  color: inherit;
}
.watch .inner-watch img {
  border-radius: var(--radius);
}
.watch .inner-watch .play-income {
  margin-top: 2rem;
  text-align: center;
}
.watch .inner-watch .play-income .play-divc {
  text-align: center;
  background-color: transparent;
  border: 2px solid #ffbc00;
  margin: 0 auto;
  width: 90%;
  padding: 2rem 0;
  border-radius: var(--radius);
  margin-bottom: 2rem;
}
.watch .inner-watch .play-income .play-divc h3 {
  font-family: var(--ff-primary);
  text-transform: uppercase;
  color: #ffbc00;
  font-weight: 800;
  font-style: italic;
  padding: 0 1rem;
}
.watch .inner-watch .play-income .play-divc p {
  text-transform: none;
}
.watch .inner-watch .play-income .play-divc img {
  max-width: 8rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .watch .watch-bg {
    display: block;
  }
  .watch .inner-watch {
    z-index: 3;
  }
  .watch .inner-watch .inner-watch-m {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .watch .inner-watch .play-income {
    display: none;
  }
  .watch .inner-watch .play-income .play-incomep {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
  }
}
@media (min-width: 900px) {
  .watch .watch-bg {
    display: block;
  }
  .watch .inner-watch {
    z-index: 3;
  }
  .watch .inner-watch .inner-watch-m {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .watch .inner-watch .play-income .play-incomep {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-items: center;
  }
}
.tokenomics {
  width: 100%;
  background-color: #000;
  display: grid;
  place-items: center;
}
.tokenomics .inner-tokenomics {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  z-index: 3;
}
.tokenomics .inner-tokenomics .tkn-txt h2 {
  text-transform: uppercase;
  color: #ffbc00;
  font-weight: 800;
  font-style: italic;
}
.tokenomics .inner-tokenomics .tkn-txt p {
  color: var(--clr-white);
  text-transform: uppercase;
  text-align: center;
}
.tokenomics .inner-tokenomics .tkn-btn {
  text-align: center;
}
.tokenomics .inner-tokenomics .tkn-btn .btn {
  display: block;
  text-align: center;
  background-color: #ffbc00;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  color: #000;
  font-weight: 800;
  font-family: var(--ff-primary);
  border-radius: var(--radius);
  font-style: italic;
}
.tokenomics .inner-tokenomics .tkn-btn .totals {
  background-color: transparent;
  border: 2px solid #ffbc00;
  color: var(--clr-white);
}

@media (min-width: 600px) {
  .tokenomics .inner-tokenomics {
    z-index: 3;
    max-width: 70%;
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
  }
  .tokenomics .inner-tokenomics .tkn-btn .main-tkn-btn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .tokenomics .inner-tokenomics .tkn-btn button {
    align-self: center;
  }
}
footer {
  width: 100%;
  background-color: #000;
  display: grid;
  padding: 3rem 0;
  position: relative;
}
footer .footimg {
  position: absolute;
  inset: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}
footer .inner-footer {
  width: 95%;
  margin: 0 auto;
  z-index: 3;
}
footer .inner-footer .footer-logo img {
  max-width: 15rem;
}
footer .inner-footer .footer-logo p {
  text-transform: capitalize;
  color: var(--clr-white);
}
footer .inner-footer .footer-logo p span {
  color: inherit;
}
footer .inner-footer .footer-des {
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  padding-bottom: 2rem;
  gap: var(--spacing);
  margin-top: 2rem;
}
footer .inner-footer .footer-des ul h3 {
  text-transform: uppercase;
  color: #ffbc00;
}
footer .inner-footer .footer-des ul li {
  color: var(--clr-white);
  font-family: var(--mont);
  font-weight: 400;
  text-transform: uppercase;
}
footer .inner-footer .footer-des ul li a {
  color: inherit;
}/*# sourceMappingURL=style.css.map */